/* homepage */
.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  overflow-y: visible;
  position: relative;
  width: 100%;
  padding-top: 40px;
}

.homepage > * {
  margin-top: 2rem;
}

.homepage > :first-child {
  margin-top: 0;
}

.main-wrapper {
  column-gap: 48px;
  display: grid;
  grid-template-columns: 306.283px 765.717px 240px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-right: 48px;
  margin-top: 0px;
  max-width: 1440px;
  padding-left: 5px;
  /* padding-right: 16px; */
  row-gap: 48px;
}

/*  1 Welcome  */
.homepage-hero {
  color: var(--text-primary);
  display: grid;
  grid-template-rows: fit-content(24rem);
  width: 100%;
}

.homepage-hero section {
  --contrast-boost-bg: #191919;
  --contrast-boost-shadow: 2px 2px 3px var(--contrast-boost-bg),
    2px -2px 3px var(--contrast-boost-bg),
    -2px -2px 3px var(--contrast-boost-bg),
    -2px 2px 3px var(--contrast-boost-bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 52rem;
  padding: 0 1rem;
  width: 100%;
}

.homepage-hero section h1 {
  font-size: 2.2rem;
  font-weight: 200;
  letter-spacing: -0.5px;
  line-height: 10%;
  margin: 0;
}

.homepage-hero section h3 {
  font-size: 25px;
}

@media screen and (min-width: 426px) {
  .homepage-hero section h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 769px) {
  .homepage-hero section h1 {
    font-size: 3rem;
  }
}

.homepage-hero section p {
  font-weight: 300;
}

.homepage-hero section h1,
.homepage-hero section p {
  text-shadow: var(--contrast-boost-shadow);
}

svg.icon {
  background: transparent;
  color: var(--icon-primary);
}

/* 2 our projects & 5 */
.featured-articles {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.featured-articles h2 {
  font: var(--type-heading-h4);
  margin-top: 0;
  color: white;
  font-size: 25px;
}

.featured-articles .tile-container {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  max-width: 52rem;
}

@media screen and (min-width: 769px) {
  .featured-articles .tile-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.featured-articles .article-tile {
  border: 1px solid white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
}

.featured-articles .article-tile:hover {
  box-shadow: var(--shadow-02);
}

.featured-articles .article-tile .tile-tag {
  color: var(--text-primary);
  font-weight: 500;
  color: white;
}

.featured-articles .article-tile .tile-tag:hover {
  text-decoration: underline;
}

.featured-articles .article-tile .tile-title {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  font: var(--type-heading-h5);
  font-weight: 500;
  line-height: var(--intermediate-line-height);
  margin: 0 0 1rem;
  color: white;
}

.featured-articles .article-tile .tile-title a {
  color: white;
}

.featured-articles .article-tile .tile-title a:focus,
.featured-articles .article-tile .tile-title a:hover {
  text-decoration: underline;
}

.featured-articles .article-tile p {
  font: var(--type-smaller-font-size);
  line-height: var(--base-line-height);
  margin: 0;
  max-height: calc(3em * var(--base-line-height));
  overflow: hidden;
  position: relative;
}

.featured-articles .article-tile p:after {
  content: "";
  display: block;
  height: calc(1em * var(--base-line-height));
  pointer-events: none;
  position: absolute;
  right: 0;
  top: calc(2em * var(--base-line-height));
  width: 20ch;
}

.featured-articles .article-tile p:dir(rtl):after {
  left: 0;
  right: auto;
}

@media screen and (min-width: 769px) {
  .featured-articles .article-tile p {
    min-height: calc(3em * var(--base-line-height));
  }
}

/* 3 Domains for Startup */
.news-title a {
  color: white;
}

.latest-news {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 52rem;
  padding: 0 1rem;
  width: 100%;
  color: white;
}

@media screen and (min-width: 1200px) {
  .latest-news {
    padding: 0;
  }
}

.latest-news h2 {
  font: var(--type-heading-h4);
  margin-top: 1rem;
  color: white;
  font-size: 25px;
}

.latest-news h5 {
  margin: 0;
}

.latest-news .news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
}

@media screen and (min-width: 769px) {
  .latest-news .news-item {
    flex-direction: revert;
  }
}

.latest-news .news-item:nth-child(odd) {
  background: var(--background-secondary);
  border-radius: var(--elem-radius);
}

.latest-news .news-item .news-date {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 175%;
}

.latest-news .news-title {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  line-height: var(--base-line-height);
  margin: 0;
  color: white;
}

/* domain list title black or white */
.latest-news .news-title a {
  color: white;
}

.latest-news .news-title a:hover {
  color: var(--text-primary);
  text-decoration: underline;
}

.latest-news .news-title .news-source {
  color: var(--text-secondary);
  font-size: var(--type-tiny-font-size);
}

/* 4 Domains for sale  */
.recent-contributions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 52rem;
  padding: 0 1rem;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .recent-contributions {
    padding: 0;
  }
}

.recent-contributions h2 {
  font: var(--type-heading-h4);
  margin-top: 1rem;
  color: white;
  font-size: 25px;
}

.recent-contributions h5 {
  margin: 0;
}

.recent-contributions .request-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
}

@media screen and (min-width: 769px) {
  .recent-contributions .request-item {
    flex-direction: revert;
  }
}

.recent-contributions .request-item:nth-child(odd) {
  background: var(--background-secondary);
  border-radius: var(--elem-radius);
}

.recent-contributions .request-item .request-date {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 175%;
}

.recent-contributions .request-title {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  line-height: var(--base-line-height);
  margin: 0;
  overflow-wrap: break-word;
}

.recent-contributions .request-title a {
  color: var(--text-primary);
}

.recent-contributions .request-title a:hover {
  color: var(--text-primary);
  text-decoration: underline;
}

.recent-contributions .request-title .request-repo {
  color: var(--text-secondary);
  font-size: var(--type-tiny-font-size);
}

/* section */
section.place {
  display: flex;
  margin: 1rem 0;
}

section.place a,
section.place a:not(.button) {
  color: var(--text-primary);
  text-decoration: none;
}

section.place.side {
  flex-direction: column;
  max-width: 12rem;
  min-height: 20rem;
}

section.place.top {
  align-items: center;
  display: grid;
  font-size: 0.625rem;
  height: var(--top-banner-height);
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 769px) {
  section.place.top {
    grid-template-columns: fit-content(100%) auto fit-content(100%);
  }
}

section.place.hp-main {
  background-color: var(--place-hp-main-background);
  margin: 0;
  width: 100%;
}

section.place.hp-main a {
  display: flex;
  justify-content: center;
  width: 100%;
}

section.place.hp-main a img {
  height: auto;
}
